/* https://coolors.co/b7ad99-ff4365-030301-00d9c0-fffff3 */

body {
    margin: 0 auto;
    max-width: 50rem;
    background-color: #B7AD99;
    color: #030301;
}

.erasureMaker-pageTitle {
    font-size: 3rem;
}

.controls {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0;
}

.text {
  font-family: monospace;
  border: 1px dashed #00D9C0;
  padding: 0 0.5rem;
  margin: 0 auto;
  background-color: #FFFFF3;
}

.function-controls button {
  font-size: 1.5rem;
}

.current-control {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.keyboard-shortcut-indicator {
  font-weight: bold;
  font-size: 125%;
}

.keyboard-shortcut-indicator::before {
    content: "["
}

.keyboard-shortcut-indicator::after {
    content: "]"
}

.text {
  font-size: 1.5rem;
}

.paragraph {
  max-width: 45rem;
}

.char {
  cursor: pointer;
}

.fd {
  color: #DDD;
}

.rm {
  color: #FFF;
}
