/* Shared styles */

body {
    font-family: 'Source Sans Pro', sans-serif;    
}

.eraseStyle-faded .er {
  opacity: 0.5;
}

.eraseStyle-strike-through .er {
  text-decoration-line: line-through;
}

.eraseStyle-blacked-out .er {
    background-color: #000;
}

.eraseStyle-removed .er {
    visibility: hidden;
}

.erasureText {
    font-family: 'Source Code Pro', monospace;
    max-width: 768px;
    min-width: 768px;
    width: 768px;
}

.erasureMaker-editPage .char {
  cursor: pointer;
}

/* Mobile styles */

@media only screen and (max-width : 768px) {
    .erasureText {

    }
}

/* Desktop styles */
@media only screen and (min-width : 768px) {
/* Styles */
}
