.eraseStyle-faded .er {
  opacity: 0.5;
}

.eraseStyle-strike-through .er {
  text-decoration-line: line-through;
}

.eraseStyle-blacked-out .er {
    background-color: #000;
}

.eraseStyle-removed .er {
    visibility: hidden;
}

.text {
    font-family: 'Source Code Pro', sans-serif;
}
