/* https://coolors.co/b7ad99-ff4365-030301-00d9c0-fffff3 */

:root {
  --main-bg-color: #3e6990;
  --main-text-color: #eef4ed;
  --erasure-bg-color: #eef4ed;
  --erasure-text-color: #000;
  --button-bg-color: #8da9c4;
  --button-bg-color-hover: #13315c;
}

body {
    margin: 0 auto;
    max-width: 52rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.erasureMaker-pageContainer {
    margin: 1rem 1rem;
}

.erasureMaker-pageTitle {
    font-size: 3rem;
}

.controls {
  margin: 0.5em 0 0.5em 0;
}

.mode-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

.function-controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

.text {
  font-family: 'Source Code Pro', sans-serif;
  border: 1px dashed var(--main-text-color);
  border-radius: 4px;
  padding: 0 0.5rem;
  margin: 0 auto;
  background-color: var(--erasure-bg-color);
  color: var(--erasure-text-color);
  font-size: 1.5rem;
  box-shadow: 5px 10px 5px var(--erasure-text-color);
}

.control-header {
    font-size: 1.25rem;
}

.control-header-explanation {
    font-size: 0.75rem;
}

.function-controls button {
  font-size: 1rem;
  background-color: var(--button-bg-color);
  border-radius: 4px;
  border: none;
  padding: 0.25em;
  box-shadow: 1px 2px 3px var(--erasure-text-color);
}

.function-controls button:hover,  .function-controls button:focus {
    background-color: var(--button-bg-color-hover);
    color: var(--erasure-bg-color);
}

.mode-control {
  padding: 4px;
  font-size: 1rem;
  color: var(--erasure-text-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  box-shadow: 1px 2px 3px var(--erasure-text-color);
}

.mode-control.current-control {
  border: 1px solid var(--main-text-color);
  color: var(--erasure-bg-color);
  border-radius: 4px;
  background-color: var(--button-bg-color-hover);
}

.keyboard-shortcut-indicator {
  font-weight: bold;
  font-size: 200%;
  text-transform: uppercase;
}

.keyboard-shortcut-indicator::before {
    content: "["
}

.keyboard-shortcut-indicator::after {
    content: "]"
}

.paragraph {
  max-width: 45rem;
}

.char {
  cursor: pointer;
}

.erase-style-selector {
    font-size: 1.25rem;
    border: 1px solid black;
    background-color: var(--button-bg-color);
    box-shadow: 1px 2px 3px var(--erasure-text-color);
}

.eraseStyle-faded .er {
  opacity: 0.5;
}

.eraseStyle-strike-through .er {
  text-decoration-line: line-through;
}

.eraseStyle-blacked-out .er {
    background-color: var(--erasure-text-color);
}

.eraseStyle-removed .er {
    visibility: hidden;
}
