body {
    font-family: 'Source Sans Pro', sans-serif;
}

.keyboard-shortcut-indicator {
  font-weight: bold;
  font-size: 125%;
  text-transform: uppercase;
}

.keyboard-shortcut-indicator::before {
    content: "["
}

.keyboard-shortcut-indicator::after {
    content: "]"
}
.control-header-explanation {
    font-size: 0.75rem;
}

.index-item-new-erasure {
    display: block;
    font-size: 0.75rem;
}

.eraseStyle-faded .er {
  opacity: 0.4;
}

.eraseStyle-strike-through .er {
  text-decoration-line: line-through;
}

.eraseStyle-blacked-out .er {
    background-color: #000;
}

.eraseStyle-removed .er {
    visibility: hidden;
}

.erasureText {
    font-family: 'Source Code Pro', monospace;
    width: 40rem;
    border: 1px solid #CCC;
    background-color: rgb(255,255,240);
    padding: 1rem;
}

.erasureMaker-editPage .char {
  cursor: pointer;
}

.erasureMaker-pageContainer {
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "content"
    "footer";
    column-gap: 1rem;
}


.erasureMaker-pageTitle-container, .erasureMaker-menuContainer, .erasureMaker-contentContainer, .erasureMaker-footerContainer {
    padding-left: 0.75rem;
}

.erasureMaker-pageTitle-container {
    grid-area: header;
    background-color: #DDD;
}

.erasureMaker-menuContainer {
    grid-area: menu;
    background-color: #DDD;
}

.erasureMaker-contentContainer {
    grid-area: content;
    max-width: 55rem;
}

.erasureMaker-footerContainer {
    padding: 0.75rem 0;
    text-align: center;
    grid-area: footer;
    background-color: #DDD;
}

/* Larger screen */
@media screen and (min-width: 55rem) {
    .erasureMaker-pageContainer {
        grid-template-areas:
        "header header header header header"
        "menu content content content content"
        "footer footer footer footer footer";
    }

    .erasureMaker-menuContainer {
        padding-right: 0.75rem;
    }

    .erasureMaker-menuItem {
        padding-bottom: 0.75rem;
    }
}

/* Smaller screen */

@media screen and (max-width: 55rem) {
    .erasureMaker-menuItem {
        display: inline;
        padding-right: 0.75rem;
    }

    .erasureMaker-menuContainer {
        padding-bottom: 0.75rem;
    }
}
