/* https://coolors.co/b7ad99-ff4365-030301-00d9c0-fffff3 */

:root {
  --main-bg-color: #3e6990;
  --main-text-color: #eef4ed;
  --erasure-bg-color: #eef4ed;
  --erasure-text-color: #000;
  --button-bg-color: #8da9c4;
  --button-bg-color-hover: #13315c;
}

body {
    margin: 0 auto;
    max-width: 50rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.erasureMaker-pageTitle {
    font-size: 3rem;
}

.controls {
  margin: 0.5em 0 0.5em 0;
}

.text {
  font-family: 'Source Code Pro', sans-serif;
  border: 1px dashed var(--main-text-color);
  border-radius: 4px;
  padding: 0 0.5rem;
  margin: 0 auto;
  background-color: var(--erasure-bg-color);
  color: var(--erasure-text-color);
  font-size: 1.5rem;
  box-shadow: 5px 10px 5px var(--erasure-text-color);
}

.function-controls button {
  font-size: 1rem;
  background-color: var(--button-bg-color);
  border-radius: 4px;
  border: none;
  padding: 0.25em;
  margin-right: 0.5rem;
  box-shadow: 1px 2px 3px var(--erasure-text-color);
}

.function-controls button:hover,  .function-controls button:focus {
    background-color: var(--button-bg-color-hover);
    color: var(--erasure-bg-color);
}

.mode-control {
  padding: 4px;
  font-size: 1.5rem;
}

.mode-control.current-control {
  border: 2px solid var(--main-text-color);
  padding: 2px;
}

.mode-control-click-radio {

}

.keyboard-shortcut-indicator {
  font-weight: bold;
  font-size: 125%;
  text-transform: uppercase;
}

.keyboard-shortcut-indicator::before {
    content: "["
}

.keyboard-shortcut-indicator::after {
    content: "]"
}

.paragraph {
  max-width: 45rem;
}

.char {
  cursor: pointer;
}

.fd {
  color: #DDD;
}

.rm {
  color: #FFF;
}
